.month {
  width: 110px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  color: white;
  text-align: center;
  cursor: pointer;
}

.darkred {
  background: darkred;
}

.grey {
  background: grey;
}

.darkblue {
  background: darkblue;
}

.darkgreen {
  background: darkgreen;
}
